alabaster
babel
certifi
charset-normalizer
docutils
idna
imagesize
Jinja2
MarkupSafe
packaging
Pygments
PyYAML
requests
setuptools
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-kroki
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
